version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "admin"
      - "devops"
    groups:
      pip:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "admin"
      - "devops"
    groups:
      actions:
        patterns:
          - "*"
